#product {
  margin-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#product td, #product th {
  border: 1px solid grey;
  padding: 10px 5px;
}

#product tr:nth-child(even){background-color: #f2f2f2;}

#product tr:hover {background-color: #ddd;}

#product th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dddddd;
  color: black;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  max-width: 30%;
  position: relative;
  transition: all 0s ease-in-out;
}

.promptpopup {
  margin: 60% auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: auto;
  position: relative;
  transition: all 0s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.promptpopup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.popup .close:hover {
}

.promptpopup .close:hover {
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.promptpopup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 100px){
  .box{
    width: 60%;
  }
  .popup{
    width: 60%;
  }
}

@media screen and (max-width: 100px){
  .box{
    width: 60%;
  }
  .promptpopup{
    width: 60%;
  }
}

* {
  box-sizing: border-box;
}

.mainData {
  display: flex;
  text-align: center;
}

.inputRow {
  margin: auto;
  width: 50%;
}

.inputRow label {
  display: inline-block;
  width: 25%;
}

.inputRow input {
  width: 70%;
}

.txt_center {
  text-align: center;
}

.reviewButton {
    margin: auto;
    width: 50%;
}
